*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.debug{
    border: 1px dashed black;
}

:root{
    --btn-color: #0061fe;
    --main-bg: #b4d0e6;
}

.container-lg{
    max-height: 650px;
    width: 70%;
    margin: 0 auto;
}

.btn{
    background-color:var(--btn-color) ;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border: none;
}

.text-lg{
    font-size: 3rem;
}

/*column selector*/
.col-1{
    width: calc(100%/12*1);

}
.col-2{
    width: calc(100%/12*2);
}

.col-3{
    width: calc(100%/12*3);
}
.col-4{
    width: calc(100%/12*4);
}
.col-5{
    width: calc(100%/12*5);
}
.col-6{
    width: calc(100%/12*6);
}
.col-7{
    width: calc(100%/12*7);
}
.col-8{
    width: calc(100%/12*8);
}

header{

    .header-nav{
        width: 100%;
        min-width: 1200px;
        min-height: 80px;
    }

    .nav{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    div ul{
        width: 100%;
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    li a{
        text-decoration: none;
        color: black;
    }

}

main{

    .pos-jumbo{
        position: relative;
        left: 0;
        top: 80px;
    }

    .jumbotron{
        width: 100%;
        background-color: var(--main-bg);
    }

    h1{
        font-size: 4rem;
        padding-bottom: 4rem;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
    }

    img{
        width: 100%;
    }

    div.col-4 ul{
        display: flex;
        flex-direction: column;
        gap: 35px;
        list-style-type: none;
    }
}